html, body {
    color: #fff;
    width: 100vw;
    height: 100vh;
    border: 0;
    margin: 0;
    padding: 0;
    background: #000;
    position: relative;
    overflow: hidden;
    scroll-behavior: fixed;
}


#debug-data {
    display: none;
}
.debug #debug-data {
    display: block;
    color: #fff;
}

.shim {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 100ms all ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
.shim.show {
  opacity: 0.5;
}

.flash.shim {
  background: #fff;
}
.dim.shim {
  background: #000;
}

.flareOut {
  position: absolute;
  z-index: 1000;
  box-shadow: 0 0 0 rgba(255,255,255, 0.4);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}